<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tensquare.qa.dao.ProblemMapper">

    <select id="findNewListByLabelId" resultType="com.tensquare.qa.pojo.Problem">
        select p.* from tb_problem p INNER JOIN tb_pl pl on p.id = pl.problemid and
          pl.labelid = #{labelId} order by createtime desc limit #{page},#{size};
    </select>

    <select id="findTotals" resultType="long">
        SELECT count(DISTINCT pb.id) as totals from tb_pl p INNER JOIN tb_problem pb on p.problemid=pb.id and p.labelid=#{labelId};
    </select>

    <select id="findHostListByLabelId" resultType="com.tensquare.qa.pojo.Problem">
        select p1.* from tb_problem p1 where p1.id in (select p2.problemid from tb_pl p2 where p2.labelid = #{labelId}) and p1.reply>0 order by p1.reply desc LIMIT #{page},#{size};
    </select>

    <select id="findHostListTotals" resultType="long">
        select COUNT(DISTINCT p1.id) as totals from tb_problem p1 where p1.id in (select p2.problemid from tb_pl p2 where p2.labelid = #{labelId}) and p1.reply>0;
    </select>

    <select id="findWaitListByLabelId" resultType="com.tensquare.qa.pojo.Problem">
        select p1.* from tb_problem p1 where p1.id in (select p2.problemid from tb_pl p2 where p2.labelid = #{labelId}) and p1.reply=0 LIMIT #{page},#{size};
    </select>

    <select id="findWaitListTotals" resultType="long">
        select COUNT(DISTINCT p1.id) as totals from tb_problem p1 where p1.id in (select p2.problemid from tb_pl p2 where p2.labelid = #{labelId}) and p1.reply=0;
    </select>
</mapper>